body {
  background: radial-gradient(
    circle at 172.1% -5.6%,
    rgb(131, 184, 248) 0%,
    rgb(44, 16, 110) 100.2%
  );
}
h1 {
  font-size: 50px;
  text-align: center;
  font-style: inherit;
  color: rgb(222, 188, 79);
  text-shadow: 3px 3px 5px #0e0b1a;
}

h2 {
  color: rgb(222, 188, 79);
  font-size: 30px;
  text-shadow: 3px 3px 5px #0e0b1a;
}
button {
  color: #ffff;
  border-radius: 25px;
  font-size: 16px;
  background-color: #8064e9;
}
p {
  font-size: 20px;
}
h3 {
  color: #ffff;
  text-shadow: 3px 3px 5px #0e0b1a;
}

form .search-button {
  color: #ffff;
  border-radius: 25px;
  font-size: 20px;
  background-color: #8064e9;
  padding: 20px, 10px;
  margin: 20px, 10px;
}
.temperature {
  color: rgb(222, 188, 79);
  font-size: 100px;
  text-shadow: 3px 3px 5px #0e0b1a;
}
li {
  color: aliceblue;
  font-size: 15px;
}
.units {
  color: rgb(222, 188, 79);
}
.discription {
  color: rgb(222, 188, 79);
}
a {
  color: aliceblue;
  font-size: 15px;
}
